/* nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px; 
    
}
nav a:hover{
    color: orange;
} */
.custom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 10px;
}

.item-link {
    margin-right: 10px;
}